In [1]:
print("Hello World")

Hello World

In [3]:
# variable Creation
a = 10
b = 20
a+b

30

In [4]:
name = "Gitam"
print("University:" +name)

University:Gitam

In [7]:
name = input("Enter a name")
age=input("Enter your age")
print("My name is ",name , "My age is ",age)

Enter a nameSridhar
Enter your age21
My name is  Sridhar My age is  21

In [13]:
int 
a = int(input("Enter first no"))
b = int(input("Enter second No"))
c = a + b
d = a * b
e = a / b
f = a - b
print("Sum = ",c)
print("Substraction = ",f)
print("Product = ",d)
print("Division = ",e)

Enter first no30
Enter second No20
Sum =  50
Substraction =  10
Product =  600
Division =  1.5

###Fundamental Data types
1.int
2.float
3.complex
4.boolean
5.string

In [19]:
a = 10
b = 12.56
d = 6.5+7j
print(type(a), type(b), type(d))

<class 'int'> <class 'float'> <class 'complex'>

In [21]:
c = complex(3,4)
print(c)

(3+4j)

In [22]:
a = 10
b = 20
b>a

True

In [23]:
a = 0.00003
b = 0.3
a>b

False

In [24]:
s1 = "abc"
s2 = "xyz"
print(type(s1),type(s2))

<class 'str'> <class 'str'>

In [26]:
s1 = "100"
print(type(s1))
a =int(s1)
print(type(s1))
f = 1.5
a1=int(f) 
print(type(a1))
print(a1)

<class 'str'>
<class 'str'>
<class 'int'>
1

In [29]:
a1=1234
print(len(str(a)))

4

## operators
1. arithematic operators     +,*,-,//,**,%
2. logical operators         and,or,not
3. relational operators      <,>,<=,>=,==,!=
4. membership operators      in, not in

In [31]:
n1 = 12
n2 = 21
print(n1+n2)
print(n1*n2)
print(n1-n2)
print(n1/n2)
print(n1%n2)
print(n1**n2)
print(n1//n2)

33
252
-9
0.5714285714285714
12
46005119909369701466112
0

In [2]:
#relational operators
n1 = 12
n2 = 21
print(n1 == n2)
print(n1 != n2)
print(n1<n2)
print(n1<=n2)
print(n1>=n2)
print(n1 ==n2)
print(n1>n2)

False
True
True
True
False
False
False

In [35]:
# logical operators
print(n1>=10 and n1<=20)
print(n1>=10 or n1<=20)
print(not n1)

True
True
False

# membership operator
## in -true value is  found
## nt in - true value is not found

In [3]:
f = [1,2,3,4]
print(1 in f)
print(5 in f)
print(6 not in f)

True
False
True

## conditional statement
1. if
2. else
3. elseif
## Syntax
#### if condition
> statement<br>
### else:
> statements

In [5]:
n = int(input("Enter a no."))
if n%2 == 0:
    print("Even")
else:
    print("Odd")

Enter a no.15
Odd

In [9]:
n = int(input("Enter a no."))
if n%3 == 0 and n%5 == 0:
    print("multiple of 3 & 5")
else:
    print("Not a multiple of 3 & 5")

Enter a no.150
multiple of 3 & 5

In [17]:
n = int(input("Enter a no."))
if n == 0 :
    print("0")
elif n>0:
    print("+ve")
else:
    print("-ve")

Enter a no.0
0

In [18]:
n = int(input("Enter an year"))
if n%400 == 0 :
    print("Leap year")
else:
    print("Not a leap year")

Enter an year2000
Leap year

In [7]:
# print no from 1 to 0
z = int(input("Enter the number"))
i=1
while i<=z:
    print(i)
    i=i+1

Enter the number9
1
2
3
4
5
6
7
8
9

In [9]:
# print sum no from 1 to 10
z = int(input("Enter the number"))
i=1
sum = 0
while i<=z:
    if i % 2 ==0:
        sum = sum +i
    i = i + 1
print(sum)

Enter the number10
30