<a href="https://colab.research.google.com/github/SaiSridhar007/Ironman007/blob/master/4_12_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Functional Programming
1. simple
2. easy to understand
3. better reusability
4. length of program will be divided into sub programs

In [0]:
### Syntax  
def nameofFunction(<parameters>):
  statements
  return

In [19]:
# Read a number
# Print the Even digit sum from the number

#Input : 1234 
# Output : 6(2+4)

n = int(input("Enter the value of n"))
def evendigitsum(n):
  s = 0
  while n != 0:
    r = n%10
    if r%2 == 0:
      s = s+r
    n = n//10
  return s
evendigitsum(n)

Enter the value of n1687

14

In [21]:
# Defining return function
def square(x):
  print(x*x)
square(4)

16

In [22]:
# Defining Cube 
n = int(input("ENter the value of n"))
def cube(x):
  print(x*x*x)
cube(n)

ENter the value of n1456
3086626816

In [28]:
# defininf Square root
n = int(input("ENter the value of n"))
def sqrt(n):
  print(n**0.5)
sqrt(n)

ENter the value of n4
2.0

In [29]:
def multiply(x,y=0):
  print("value of x=",x)
  print("value of y=",y)
  return(x*y)
multiply(x=8,y=13)

value of x= 8
value of y= 13

104

In [0]:
# swap values
x=2
y=3
def swap(x=2,y=3):
  temp = x
  x=y
  y = temp
  return x,y
swap(x,y)

(3, 2)

## For loop
### syntax 1
for i in range(start, stop, step):
>statements
### syntax2
for i in Iterableobject
>statements

In [49]:
def print_series(lb,ub):
  for x in range(lb,ub+1):
    print(x,end = ' ')
  return
print_series(1,10)

1 2 3 4 5 6 7 8 9 10

## Collection types:
1. List
2. Tuple
3. Set
4. Dictionary

## List:

*   one of the Data structure in Python
*   Data Structure means to store , sort and search options
*   It is one common Data structure in puthon, the items of list seperated by comma and enclosed in square brackets []

## Examples
*  List1 = [1,2,3,4,5]
*  List2 = ["Gitam",1,2]

In [54]:
li = [1,8,6,9,2]
print(li) #will print all the list items
print(li[0]) 
print(li[1])
print(li[-5])
print(li[:-1])
print(li[-5:-1])

[1, 8, 6, 9, 2]
1
8
1
[1, 8, 6, 9]
[1, 8, 6, 9]

In [60]:
# update list & delete list
li = ['Gitam',123456,'Hyd',7]
print(li)
li[1]= 7
print(li)
del li[3]
print(li)

['Gitam', 123456, 'Hyd', 7]
['Gitam', 7, 'Hyd', 7]
['Gitam', 7, 'Hyd']